* {
  margin: 0;
  padding: 0;
}

body {
  font: 71%/1.5 Verdana, Sans-Serif;
  background: #eee;
}

.container {
  margin: 100px auto;
  width: 900px;
}

.write {
  margin: 0 0 5px;
  padding: 5px;
  width: 100%;
  height: 200px;
  font: 1em/1.5 Verdana, Sans-Serif;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.right{
  float: right;    
  margin-top: -235px !important;
}

.keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
}

.keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.ctrl,
.num,
.capslock,
.tab,
.left-shift {
  clear: left;
}

.keyboard .tab,
.keyboard .delete {
  width: 86px;
}

.keyboard .capslock {
  width: 80px;
}

.keyboard .return {
  width: 92px;
}

.keyboard .left-shift {
  width: 95px;
}

.keyboard .right-shift {
  width: 122px;
}

.height{
  height: 85px !important;
  line-height: 80px !important;
}

.wid{
  width: 86px !important;
}

.mt45{
  margin-top: -45px !important;
}

.lastitem {
  margin-right: 0;
}

.uppercase {
  text-transform: uppercase;
}

.keyboard .space {
  width: 327px;
}

.on {
  display: none;
}

.keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
}